@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


:root {
  --background:  #141414;
  --foreground:  #E8EAED;
  --primary:     #419FB4;
  --secondary:   #A5D4DF;
  --alternative: #98A1AE;
}


* {
    font-family: "Arimo";
    font-size: 17px;
}

body {
    background-color: var(--background); 
    color: var(--foreground);
}

#column-holder {
    width: 40vw;
    max-width: 90vw;
}

@media only screen and (max-width: 675px) {
    #profile {
        display: none;
    }
    .paper-year {
        display: none;
    }
}

h1, h2, h3 {
    cursor: default;
    color: var(--primary);
    font-family: "Arimo", serif;
}

hr {
    color: var(--primary);
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

b {
    color: var(--primary);
}

p, .content {
    text-align: justify;
    cursor: default;
    margin-bottom: 1rem;
}

.paper-year {
    color: var(--alternative);
    position: absolute;
    left: -50px;
    text-align: right;
}

details {
    cursor: default;
    font-style: italic;
}

summary {
    font-style: normal;
    width: fit-content;
}

.details-title {
    width: fit-content;
}

a, summary {
    color: var(--secondary);
    text-decoration: none;
}

a:hover, summary:hover {
    color: var(--background);
    background-color: var(--secondary);
}

.horizlink {
    margin-right: 0.3vw;
}

.hovered-span {
    text-decoration: underline dotted;
}

#profile {
    width: 8vw;
    height: 8vw;
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary);
}
